<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    {% block header %}
        <header class="text-center">
            <div class="container">
                <a href="/products">Products</a>
                <nav>
                    <a href="/{{ app.user ? 'menu' : 'register' }}">{{ app.user ?  app.user.email : 'Sign up' }}</a>
                    <a href="/{{ app.user ? 'logout' : 'login' }}">{{ app.user ? 'Logout' : 'Login' }}</a>
                    <a href="/{{ app.user ? 'logout' : 'connect/google' }}">{{ app.user ? '' : 'Google auth' }}</a>
                </nav>
            </div>
        </header>
    {% endblock %}
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
