{% extends "base.html.twig" %}

{% block title %}
    Products
{% endblock %}

{% block body %}
    <div class="container main-block">
        {% include "sort/sort.html.twig" %}
    </div>
    <div class="container main-block">
        {% include "filter/filter.html.twig" %}
    </div>
    <div class="container main-block flex-wrap">
       {% for product in products %}
           <div class="m-5 product-block main-page-block">
               <a href="/products/{{ product.id }}">
                    <ul class="text-sm-left">
                       <li id="product-id"><span class="font-weight-bold">#</span>{{ product.id }}</li>
                       <li>{{ product.releaseDate|date("m/d/Y") }}</li>
                       <li><span class="font-weight-bold">Name: </span>{{ product.name }}</li>
                       <hr>
                       <li><span class="font-weight-bold">Description: </span>{{ product.description }}</li>
                       <hr>
                       <li><span class="font-weight-bold">Customer: </span>{{ product.customer.name }}</li>
                       <hr>
                       <li class="font-weight-bold"><span class="font-weight-bold">Cost: </span>{{ product.cost }} BYN</li>
                   </ul>
               </a>
           </div>
        {% endfor %}
    </div>
    <div class="container pagination">
        {% include "paginate/pagination.html.twig" %}
    </div>
    <div class="container pagination">
        {% include "paginate/itemsPerPage.html.twig" %}
    </div>
{% endblock %}